
body{
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-bold';
}
.big-heading{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}
/* Navigation Bar */
.navbar{
  padding-bottom: 5.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0% 18px;
  font-family: 'Montserrat-light';
  font-size: 1rem;
}

/* Button section */
#title{
  background-color: #ff4c68;
  color:white;
  position: relative;
  text-align: left;

}

.title-button{
  margin: 20px 0px 0px 7px;
}
/* Image title */
.title-image{
  width: 25%;
  transform: rotate(35deg);
  margin-left: 1rem;
  position: absolute;
  right: 20%;
}
/* sections 2 */
/* features */
#features{
  padding: 7% 10%;
  background-color: white;
  position: relative;

}
/* icons */

.icon{
  color: #ef8172;
  font-size:3rem;
  margin-bottom: 1rem;
}
/* headers */
.features-header{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}
.features-text{
  color: #8f8f8f;
  padding:0 3rem;
}
.icon:hover{
  color: #ff4c68;
}
/* testomonial */
#testimonials{
  background-color: #ef8172;

  color: #fff;
}
.carousel{
  padding: 5% 18%;
}
.testimonials-heading{
  font-family: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5;
}
.testimonials-image{
  width:10%;
  border-radius: 100%;
  margin-right: 3%;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image{
  width: 13%;
  margin:20px;
}
/* Pricing */
#pricing{
  padding:50px;
}
.pricing-header{
  font-family: 'Montserrat-Bold';
  font-size: 3rem;

}
p{
  color: grey;
}
.pricing-col{
  padding:3%;
}
.pricing-header{
  font-family: 'Montserrat-bold';
  font-size:2.5rem;
  font-weight: bold;
}
@media (max-width:983px)
 {
   #title{
     text-align: center;
   }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 80%;
    margin-top: 1rem;
  }
}
/* Call to action */
#cta{
  background-color: #ff4c68;
}

.btn{
  margin: 35px 0 0 7px;
}
/* Footer */
#footer{
  background-color: #fff;
  padding:40px 0;
}
.footer-icon{
  margin:0 5px;
}
.footer-text
{
  margin: 10px 0 0 0;
  color: grey;
  font-family: 'Ubuntu';
}
